In [7]:
import pandas as pd

In [8]:
df = pd.read_csv("../datasets/companies_locations.csv")
df

,company,city,state,latitude,longitude,text,color
0,Alleguard - Huntington,Grove City,OH,39.882193,-83.093538,"Alleguard - Huntington<br>Grove City, OH",#60D13B
1,Alleguard - Huntington,Bastrop,TX,30.110495,-97.315270,"Alleguard - Huntington<br>Bastrop, TX",#60D13B
2,Alleguard - Huntington,Cave Spring,GA,34.107597,-85.336343,"Alleguard - Huntington<br>Cave Spring, GA",#60D13B
3,Cellofoam,Whiteland,IN,39.550049,-86.079708,"Cellofoam<br>Whiteland, IN",#EEC07E
4,Cellofoam,Sallisaw,OK,35.460371,-94.787446,"Cellofoam<br>Sallisaw, OK",#EEC07E
...,...,...,...,...,...,...,...
108,Altor Solutions,North Andover,MA,42.698700,-71.135100,"Altor Solutions<br>North Andover, MA",#942AAE
109,Altor Solutions,St. Petersburg,FL,27.770400,-82.679300,"Altor Solutions<br>St. Petersburg, FL",#942AAE
110,Altor Solutions,Waxahachie,TX,32.386500,-96.848300,"Altor Solutions<br>Waxahachie, TX",#942AAE
111,Altor Solutions,Vernon,CA,34.003900,-118.230200,"Altor Solutions<br>Vernon, CA",#942AAE
112,Altor Solutions,Huntington Beach,CA,33.659500,-117.998800,"Altor Solutions<br>Huntington Beach, CA",#942AAE

In [9]:
# Number of Companies
len(df.company.unique())

37

In [10]:
# Company with most warehouses
df.company.value_counts().index[0]

'Altor Solutions'

In [11]:
df["state"].value_counts()

state
CA           13
TX            9
GA            8
FL            6
OH            5
MI            4
IN            4
VA            4
AZ            4
TN            4
MO            4
CO            4
MA            3
PA            3
WI            3
UT            3
SC            3
NV            2
IA            2
KY            2
MN            2
NE            2
NJ            2
WA            2
IL            1
NY            1
Queretaro     1
AR            1
BC            1
AK            1
KS            1
SD            1
CT            1
ID            1
RI            1
AL            1
NC            1
OK            1
MD            1
Name: count, dtype: int64

In [12]:
df.columns

Index(['company', 'city', 'state', 'latitude', 'longitude', 'text', 'color'], dtype='object')

In [13]:
df.query(f"company == 'Altor Solutions'")["text"]

90                    Altor Solutions<br>Northbridge, MA
91                     Altor Solutions<br>Bloomsburg, PA
92                       Altor Solutions<br>Anderson, SC
93                      Altor Solutions<br>Jefferson, GA
94                   Altor Solutions<br>Gnadenhutten, OH
95                     Altor Solutions<br>New Albany, IN
96                        Altor Solutions<br>Jackson, TN
97                       Altor Solutions<br>Plymouth, WI
98                   Altor Solutions<br>Fort Madison, IA
99              Altor Solutions<br>El Dorado Springs, MO
100                        Altor Solutions<br>Keller, TX
101                       Altor Solutions<br>Modesto, CA
102                       Altor Solutions<br>Compton, CA
103                     Altor Solutions<br>St. Louis, MO
104    Altor Solutions<br>St. Rosa Jaurequi (Queretar...
105    Altor Solutions<br>St. Rosa Jaurequi (Baja Cal...
106                       Altor Solutions<br>Belcamp, MD
107                          Altor Solutions<br>Rome, GA
108                 Altor Solutions<br>North Andover, MA
109                Altor Solutions<br>St. Petersburg, FL
110                    Altor Solutions<br>Waxahachie, TX
111                        Altor Solutions<br>Vernon, CA
112              Altor Solutions<br>Huntington Beach, CA
Name: text, dtype: object