In [14]:
import pandas as pd

In [15]:
df = pd.read_csv("../datasets/companies_locations.csv")
df

,company,location,latitude,longitude,text,color
0,Altor Solutions,"Northbridge, MA",42.151400,-71.650000,Altor Solutions<br>Warehouse Location: Northbr...,#f67088
1,Altor Solutions,"Bloomsburg, PA",41.002500,-76.458100,Altor Solutions<br>Warehouse Location: Bloomsb...,#f67088
2,Altor Solutions,"Anderson, SC",34.504900,-82.652400,Altor Solutions<br>Warehouse Location: Anderso...,#f67088
3,Altor Solutions,"Jefferson, GA",34.126700,-83.590300,Altor Solutions<br>Warehouse Location: Jeffers...,#f67088
4,Altor Solutions,"Gnadenhutten, OH",40.360800,-81.431700,Altor Solutions<br>Warehouse Location: Gnadenh...,#f67088
...,...,...,...,...,...,...
98,Alleguard - Huntington,"Radford, VA",37.131792,-80.576448,Alleguard - Huntington<br>Warehouse Location: ...,#f7736f
99,Alleguard - Huntington,"West Brookfield, MA",42.235346,-72.141164,Alleguard - Huntington<br>Warehouse Location: ...,#f7736f
100,Alleguard - Huntington,"Monticello, AR",33.629670,-91.802186,Alleguard - Huntington<br>Warehouse Location: ...,#f7736f
101,Armstrong Brands,"Buffalo, NY",42.886447,-78.878369,Armstrong Brands<br>Warehouse Location: Buffal...,#f66d9e
102,EFP,"Elkhart, IN",41.687383,-85.973517,"EFP<br>Warehouse Location: Elkhart, IN",#d78b31

In [16]:
# Number of Companies
len(df.company.unique())

37

In [17]:
# Company with most warehouses
df.company.value_counts().index[0]

'Altor Solutions'

In [29]:
# State with most warehouses
# TODO: Strip the state name from 'location' field
# TODO: Create a new field called 'state'
df["state"] = df.location.str[-2:]
df.to_csv("../datasets/companies_locations.csv", index=False)

In [27]:
df["state"].value_counts()

state
CA    11
TX     8
GA     7
OH     5
FL     5
AZ     4
MI     4
VA     4
TN     4
IN     4
CO     4
MO     3
UT     3
WI     3
SC     3
PA     3
NE     2
MN     2
KY     2
WA     2
MA     2
NV     2
NJ     2
IA     2
AK     1
AR     1
IL     1
SD     1
AL     1
CT     1
ID     1
RI     1
KS     1
NC     1
OK     1
NY     1
Name: count, dtype: int64

In [30]:
df.columns

Index(['company', 'location', 'latitude', 'longitude', 'text', 'color',
       'state'],
      dtype='object')